[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-bootstrap5 = "*"
django = "*"
psycopg2 = "*"
pillow = "*"
django-crispy-forms = "*"
whitenoise = "*"
django-heroku = "*"
python-decouple = "*"
dj-database-url = "*"
django-cloudinary-storage = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
