<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="row"> 
    <div class="navbar-header col-md-9">
      <a class="navbar-brand" href="{% url 'homepage' %}">Clicksgram</a>
    </div>
    
<div class="col-md-3">

    
    <a class="navbar-brand" href="{% url 'profile' %}">profile</a>

    <a class="navbar-brand" href="{% url 'logout' %}">logout</a>

</div>
     
    </div>
      
  </div>
</nav>
</body>
</html>
